{% extends 'base.html' %}
{% block content %}

<a class="btn btn-info btn-large" href="{% url 'user_add' %}">Adicionar un usuario</a>
<table class="table">
    <thead>
        <tr class="warning">
            <td>
                email
             </td>
            <td>
              Eliminar 
             </td>
        </tr>
    </thead>
    <tbody>
{% for usuario in object_list %}
<tr class="{% cycle 'warning' 'info' 'error' 'success' %}"> 
    <td>
        <a href="{{ usuario.direccion_para_actualizar }}"
            data-nombre="{{ usuario.name }}" data-apellido="{{ usuario.last_name }}"
            >{{ usuario.email }}</a>
    </td>
    <td>
        <a class="btn btn-warning btn-mini eliminar" 
            href="{{ usuario.direccion_para_eliminar }}">
            <i class="icon-trash icon-white"></i> Delete
        </a>
    </td>
 </tr>
  {% endfor %}
  
  </tbody>
</table>

<div class="odd algo">
  odd algo
</div>

<div class="odd">
  odd
</div>

<div class="algo">
  algo
</div>

<div>
    <ul id="lista-de-usuarios">
    </ul>
</div>
{% endblock %}
