body {
    background-color: #efefef;
    font-family: Arial, Helvetica, 'sans-serif';
    font-size: 16px;
}

table {
}

tr:nth-child(2n+1) {
}


tr.nones {
}
thead {
    
}

tbody td:last-child {
    text-align: center;
}

tbody tr:hover {
}

li:nth-child(4n-7) {
}

table a:hover {
}
.eliminar {
}
div.odd.algo {
  font-size: 2em;
}

div.odd {
  background-color: yellow;
}

div.algo {
  font-weight: bolder;
}
